1_Desafio/.metadata
1_Desafio/Desafio1/.settings
1_Desafio/Desafio1/bin

2_Desafio/Servers
2_Desafio/.metadata
2_Desafio/CRUD/.settings
2_Desafio/CRUD/WebContent/WEB-INF
2_Desafio/CRUD/WebContent/META-INF


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

